KAFKA_USERNAME=your-aiven-sasl-username
KAFKA_PASSWORD=your-aiven-sasl-password
KAFKA_CA_PATH=./certs/ca.pem
KAFKA_BOOTSTRAP_SERVER=your-aiven-broker-hostname:port
KAFKA_TOPIC=youtube-comments
YOUTUBE_API_KEY=your-youtube-api-key
